asgiref==3.8.1
Django==5.1.1
djangorestframework==3.15.2
djangorestframework-simplejwt ==5.3.1
sqlparse==0.5.1
drf-yasg==1.21.7
inflection==0.5.1
packaging==24.1
pyyaml==6.0.2
uritemplate==4.1.1
drf-spectacular==0.27.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
referencing==0.35.1
rpds-py==0.20.0
faker==30.0.0
python-dateutil==2.9.0.post0
six==1.16.0
